@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

*{
    margin: 0;
    padding: 0;
}

.containing{
    padding: 15px 20px 15px 20px;
}

.side-navbar{
    height: 100%;
    background: #ffffff;
}

.main-area{
    background: 
    rgb(0,255,209,0.17);
}

.navbar-brand{
    padding: 15px 20px 15px 20px;
}

.brand-name{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 38.3333px;
    line-height: 46px;
    letter-spacing: 0.766667px;
    color: #13D7BC;
}

.search{
    border-radius: 15px;
    width: 300px;
    border: 0px;
}

.nav li a{
    padding: 18px 5px 18px 5px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.120455px;
    color: #52575C;
}

.nav .active{
    color: #336CFB;
}

.nav li a:hover{
    color: #336CFB;
}

.register-patient-btn{
    background-color: #336CFB;
    border-radius: 7px;
    font-family: Lato;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.120588px;
    width: 300px;
    color: #FFFFFF;
}

.main-area .card{
    border-radius: 10px;
    border: 0px;
}

.image-area .card{
    height: 300px;
}

.detail-area .card{
    height: 300px;
}

.appointment-area .card{
    height: 300px;
}

.appointment-area .card-header{
    color: #25282B;
}
/* .register-patient-btn:hover{
    color: #336CFB;
    background: #ffffff;
} */